* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
  }
  
  body {
    width: 850px  !important;
    height: 500px !important;
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
      segoe ui, arial, sans-serif;
    color: black;
  }
  